/* src/app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --brand:#1ab69d;      /* primary */
  --brand-2:#31b978;    /* secondary */
}
body{ background:#f8fafc; }

/* helper */
.btn-brand{ @apply px-5 py-3 rounded-lg text-white font-medium shadow; background:var(--brand); }
.btn-brand:hover{ background:var(--brand-2); }
.card{ @apply border rounded-2xl p-5 bg-white shadow-sm hover:shadow transition; }

